<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- customer_name in sql= customerName in java -->
	</settings>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/PackageMapper.xml" />
		<mapper resource="mapper/TrainerMapper.xml" />
		<mapper resource="mapper/ClassesMapper.xml" />
		<mapper resource="mapper/ScheduleMapper.xml" />
		<mapper resource="mapper/BookingMapper.xml" />
		<mapper resource="mapper/PaymentinfoMapper.xml" />
	</mappers>
</configuration>