<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Customer List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/memberheader :: header"></div>
	<h1 align="center">Body Measurement Checker</h1>
	<br />
	<div align="center" class="container">
		<form data-th-action="@{/member/bodycheck}" th:object="${attendance}"
			method="POST">
			<div th:if="${invalidDate}=='invalidDate'" align="center"
				style="color: red;">
				<h4>End date must be grater than or equal start date</h4>
			</div>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Start Date<br /> <input type="date"
							th:field="*{startDate}" /><br>
							<div class="col-sm-10" th:if="${#fields.hasErrors('startDate')}"
								th:errors="*{startDate}" th:style="${'color:red'}"></div></td>
						</td>

						<td>End Date<br /> <input type="date" th:field="*{endDate}" /><br>
							<div class="col-sm-10" th:if="${#fields.hasErrors('endDate')}"
								th:errors="*{endDate}" th:style="${'color:red'}"></div></td>
						</td>
					</tr>

					<tr>
						<td><input type="submit" value="Check"
							class="btn btn-primary" /></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div align="right">
			<form th:action="@{/logout}" method="POST">
				<input class="btn btn-primary" type="submit" value="Logout" />
			</form>
		</div>
		
		<div th:object="${attendance}" align="center" style="color: red;">
			<div th:if="${height}=='increaseHeight'">
				Your height is
				<h3 th:utext="${attendance.resultHeight}+' ft '"></h3>taller than normal.<br><br>
				<div th:if="${weight}=='gainWeight'">
					Your weight is increased
				<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>than normal.<br>
				</div>
				<div th:unless="${weight}=='gainWeight'">
					Your weight is loss
				<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>than normal.<br><br>
				</div>
			</div>
			
			<div th:unless="${height}=='increaseHeight'">
				Your height is
				<h3 th:utext="${attendance.resultHeight}+' ft '"></h3>shorter than normal.<br><br>
				<div th:if="${weight}=='gainWeight'">
					Your weight is increased
				<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>than normal.<br>
				</div>
				<div th:unless="${weight}=='gainWeight'">
					Your weight is loss
				<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>than normal.<br>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>