<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Customer List</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body
	style="background: url('/images/gym_bg.jpg'); width: 100%; height: 100%">
	<div th:replace="fragments/memberheader :: header"></div>
	<h1 align="center">Body Measurement Checker</h1>
	<div th:if="${login != null}">
		<h4 style="color:red;" align="right">You are logged in with <label th:utext="${login}"></label></h4>
	</div>
	<br />
	<div align="center" class="container">
		<form data-th-action="@{/member/bodycheck}" th:object="${attendance}"
			method="POST">
			<div th:if="${invalidDate}">
				<div class="alert alert-danger"
					style="text-align: center; font-size: 20px">End date must be
					grater than or equal start date</div>
			</div>
			<div th:if="${nulldate}">
				<div class="alert alert-danger"
					style="text-align: center; font-size: 20px">Start Date or End
					Date must not be null</div>
			</div>
			<div th:if="${NoRecord}">
				<div class="alert alert-danger"
					style="text-align: center; font-size: 20px">No Record is found in this period.</div>
			</div>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Start Date<br /> <input type="date"
							th:field="*{startDate}" />
						</td>

						<td>End Date<br /> <input type="date" th:field="*{endDate}" />
						</td>
					</tr>

					<tr>
						<td><input type="submit" value="Check"
							class="btn btn-primary" /></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div align="right">
			<form th:action="@{/logout}" method="POST">
				<input class="btn btn-primary" type="submit" value="Logout" />
			</form>
		</div>

		<div th:object="${attendance}" align="center" style="color: red;">
			<div th:if="${height}=='increaseHeight'">
				Your height is
				<h3 th:utext="${attendance.resultHeight}+' ft '"></h3>
				taller than normal.<br> <br>
				<div th:if="${weight}=='gainWeight'">
					Your weight is increased
					<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>
					than normal.<br>
				</div>
				<div th:unless="${weight}=='gainWeight'">
					Your weight is loss
					<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>
					than normal.<br> <br>
				</div>
			</div>

			<div th:unless="${height}=='increaseHeight'">
				Your height is
				<h3 th:utext="${attendance.resultHeight}+' ft '"></h3>
				shorter than normal.<br> <br>
				<div th:if="${weight}=='gainWeight'">
					Your weight is increased
					<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>
					than normal.<br>
				</div>
				<div th:unless="${weight}=='gainWeight'">
					Your weight is loss
					<h3 th:utext="${attendance.resultWeight}+' lb '"></h3>
					than normal.<br>
				</div>
			</div>
		</div>

	</div>
</body>
</html>