<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Payment Information</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/adminheader :: header"></div>
	<form th:action="@{/admin/addPaymentinfo}" th:object="${paymentinfo}"
		method="POST">

		<table class="table table-striped">
			<tr>
				<td></td>
				<td><h1 align="left">Create a Payment Information:</h1></td>

			</tr>
			<tr>
				<td align="right">Payment Partner Name:</td>
				<td><input type="text" th:field="*{paymentPartnerName}"
					autofocus="autofocus">
					<div class="col-sm-10" th:if="${#fields.hasErrors('paymentPartnerName')}"
						th:errors="*{paymentPartnerName}" th:style="${'color:red'}"></div></td>
			<tr>
			<tr>
				<td align="right">Partner Ac:</td>
				<td><input type="text" th:field="*{paymentAc}"
					autofocus="autofocus">
					<div class="col-sm-10" th:if="${#fields.hasErrors('paymentAc')}"
						th:errors="*{paymentAc}" th:style="${'color:red'}"></div></td>
			<tr>
				<td></td>
				<td align="left"><input type="submit" value="Create" /></td>
			</tr>
		</table>
	</form>
	<br />
</body>
</html>