<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Customer</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
	<form th:action="@{/admin/addPackage}" th:object="${pack}" method="POST">

		<table class="table table-striped">
			<tr>
				<td></td>
				<td><h1 align="left">Create a Package:</h1></td>

			</tr>
			<tr>
				<td align="right">Package Name:</td>
				<td><input type="text" th:field="*{packageName}" autofocus="autofocus">
				<div class="col-sm-10" th:if="${#fields.hasErrors('packageName')}"
						th:errors="*{packageName}" th:style="${'color:red'}"></div>
				</td>
				
			</tr>
			<tr>
				<td align="right">Package Duration:</td>
				<td><input type="text" th:field="*{packageDuration}"> months
				<div class="col-sm-10" th:if="${#fields.hasErrors('packageDuration')}"
						th:errors="*{packageDuration}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Package Fees:</td>
				<td><input type="text" th:field="*{packageFees}">
				<div class="col-sm-10" th:if="${#fields.hasErrors('packageFees')}"
						th:errors="*{packageFees}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td align="left"><input type="submit" value="Create" /></td>
			</tr>
		</table>
	</form>
	<br />
</body>
</html>